
.uni-glui {
  opacity: 0.1;
  &:hover{
    opacity: 1;
  }
  width: 290px;
  form {
    max-height: 100vh;
    overflow: auto;
    input{
      &:not([type=file]){
        max-width: 50px;
      }
    }
    label{
      &.btn{
        margin: 10px;
        padding: 10px;
        background: gray;
        display: block;
        text-align: center;
        cursor: pointer;
        color: white;
      }
    }
    fieldset{
      *{
        margin: 0;
      }
      h3{
        cursor: pointer;
      }

      .border-bottom{
        border-bottom: 1px solid gray;
        padding: 5px 0;
      }
      .field-desc{
        cursor: pointer;
      }
      .fields-list{
        display: none;
        &.active{
          display: inherit;
        }
        .d-flex{
          margin: 10px 0;
        }

        .part-item-container{
          fieldset{
            padding: 5px;
          }
          .part-item-info{
            input[type="checkbox"]{
              pointer-events: none;
            }
          }
        }

      }
    }

  }
}
