
.uni-glui {
  opacity: 0.1;
  &:hover{
    opacity: 1;
  }
  width: 290px;
  form {
    max-height: 100vh;
    overflow: auto;
    input {
      max-width: 50px;
    }
    fieldset{
      *{
        margin: 0;
      }
      h3{
        cursor: pointer;
      }
      .border-bottom{
        border-bottom: 1px solid gray;
        padding: 5px 0;
      }
      .field-desc{
        cursor: pointer;
      }
      .fields-list{
        display: none;
        &.active{
          display: inherit;
        }
        .part-item-info{
          input[type="checkbox"]{
            pointer-events: none;
          }
        }
      }
    }

  }
}
